.Login {
  width: 100%;
  height: 100vh;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background-image: url("/bg.jpg");
  font-size: 0.9em;
  position: relative;

  &__panel {
    width: 31.25rem;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    right: 0;

    @keyframes carletonlogo {
      0%   {
        transform: rotate(360deg);
      }
    }

    #animatedImage {
      animation-name: carletonlogo;
      animation-duration: 4s;
      animation-direction: reverse;
      animation-iteration-count: infinite;
      padding-top: 30%;
      padding-bottom: 16%;
    }

    img {
      padding-top: 5.625rem;
      max-width: 100%;
      margin-bottom: 3.75rem;
    }

    &__button {
      border: none;
      background-color: rgb(236, 38, 38);
      color: rgb(255, 255, 255);
      padding: 0.25rem 1.25rem 0.375rem 1.25rem;
      cursor: pointer;
      font-size: 0.9rem;

      &:hover {
        background: rgb(255, 0, 0);
      }
    }

    &__text {
      font-weight: normal;
      font-size: 1.3em;
      color: rgb(255, 255, 255);
    }

    &__content {
      min-height: 100%;
      height: auto;
      margin: 0 auto 0 auto;
      padding: 0rem 6.25rem 0rem 3.125rem;

      &__message {
        margin-bottom: 1.875rem;
        font-size: 0.9em;
        color: white;

        a {
          color: #2672ec;
          text-decoration: none;
          background-color: transparent;
          font-weight: bold;
        }
      }

      &__input {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;

        input {
          width: 100%;
          height: 28px;
          padding: 0px 3px 0px 3px;
          border: solid 1px #bababa;
          font-size: 0.9rem;
        }
      }

      &__checkbox {
        font-size: 0.9rem;
        margin-top: 0.625rem;
        margin-bottom: 2.375rem;
        color: white;

        input {
          margin: auto 0;
          margin-right: 0.25rem;
        }
      }
    }
  }
}